{%extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row mx-auto">
<div class="col p-4">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 100%;">
<div class="carousel-indicators bg-dark mb-0">
<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
{%for image in images %}
{% if forloop.first %}
<div class="carousel-item active bg-dark">
{% else %}
<div class="carousel-item bg-dark">
{% endif %} 
<a href="{{image.get_absolute_url}}">
<img src="{{ image.image.url }}" class="d-block w-100 mx-auto bg-dark" alt="...">
</a>
</div>
{% endfor %}
</div>
<button class="carousel-control-prev bg-dark" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next bg-dark" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button>
</div> 
</div>

<div class="col p-4">
<h2>{{product.name}} <h2>
{%if product.avg_ratings%}
<h5 style="display: inline;">rating: {{product.avg_ratings}} /10 </h5>&nbsp;
{%else%}

<div style="clear: both">
<h6 class="py-1" style="float: left">
<form action="" method="post">
{%csrf_token%}
{%for form in rating_form%}
<input type="range" class="form-range" id="disabledRange" value="{{form}} 
{%endfor%} 
</h6>
<h6 class="px-3" style="float: left">
<button type="submit" class="btn btn-outline-primary btn-sm">rate!</button>
</h6>
</form> 
<br>
</div>
{%endif%}
<ul class="messages" style="text-align: center;">
{% for message in messages %}
<p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
{% endfor %}
</ul>
<p>
<h4>Description:</h4>
{{product.description}}
</p>
<p>
<h5>Price: <b>{{product.price}} $</b></h5> 
</p>
</div>
{% if messages %}

{% endif %}
{%if review_form%}
<form action="" method="post">
{%csrf_token%}
{%for form in review_form%}
{{form|as_crispy_field}}
{%endfor%}
<button type="submit" class="btn btn-outline-primary btn-sm">confirm!</button>
</form>
{%endif%}
<br> &nbsp;
<h5 style="font-size: 20px;">Reviews :</h5 >
<hr>
{% for review in reviews %}
<p>&nbsp;&nbsp;&nbsp;&nbsp;{{ review.comment }}</p>
<p style="text-align:right;font-size:small;" >by {{ review.user }} &nbsp; {%if review.updated%}{{ review.updated }}{%else%} {{ review.created }}{%endif%}</p>
<a href="{%url 'Update_review' review.product.category.slug review.product.slug review.id%}">update review</a>
<a href="{%url 'Delete_review' review.product.category.slug review.product.slug review.id%}">delete review</a>

<hr>
{% endfor %}




</div>



{% endblock %}
