<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'Product_list'%}">Shoppy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'Product_list'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{%url 'Product_list'%}">all</a></li>
                {%for category in categ%}
                    <li><a class="dropdown-item" href="{{category.get_absolute_url}}">{{category.name}}</a></li>
                {%endfor%}
            </ul>
          </li>
        </ul>
        
        <form class="form-inline ml-3" action="{% url 'Product_list' %}", method="GET">
          <div class="input-group" id="searchz">
            <input type="text" name="search" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-none" ><i class="fas fa-search" style="color: #abd8dd"></i></button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </nav>